@charset "UTF-8";
/*violet*/
/*rose*/
/*mint*/
/*background gris*/
/*background footer*/
.load {
  position: fixed;
  margin: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 1s ease 3s forwards;
}
@keyframes slide {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}

.loading {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: loader 3000ms forwards;
}
@keyframes loader {
  from {
    z-index: 9999;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    z-index: -1;
    opacity: 0;
  }
}
.loading .bar {
  position: relative;
  height: 2px;
  width: 40%;
  margin: 0px auto;
  margin-top: 150px;
  background: linear-gradient(0.25turn, #9356DC, #FF79DA, #99E2D0);
}
.loading .bar::after {
  font-family: fontawesome;
  content: "";
  font-size: 25px;
  color: white;
  position: absolute;
  top: -26px;
  left: -10px;
}
.loading .bar .circle {
  position: absolute;
  top: -30px;
  margin-left: -50px;
  height: 60px;
  width: 60px;
  left: 0;
  border-radius: 30%;
  -webkit-animation: move 3s infinite;
  background: linear-gradient(0.25turn, #9356DC, #FF79DA, #99E2D0);
}
@-webkit-keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
    -webkit-transform: rotate(450deg);
    width: 150px;
    height: 150px;
  }
  75% {
    left: 100%;
    -webkit-transform: rotate(450deg);
    width: 150px;
    height: 150px;
  }
  100% {
    right: 100%;
  }
}
.loading .bar p {
  position: absolute;
  top: -20px;
  right: -70px;
  color: white;
  font-family: Shrikhand;
  font-weight: bold;
}

.footer-bloc {
  background: #353535;
  padding: 25px 0px 25px 38px;
}
.footer-bloc .logo-bottom {
  font-family: "Shrikhand";
  color: #fff;
}
.footer-bloc nav {
  padding-top: 23px;
}
.footer-bloc li {
  color: #fff;
  padding-bottom: 10px;
}
.footer-bloc i.fas.fa-utensils {
  padding-right: 12px;
}
.footer-bloc i.fas.fa-hands-helping {
  padding-right: 5px;
}
.footer-bloc a {
  color: #fff;
}

@media (min-width: 1024px) {
  .footer-bloc {
    padding-left: 0px;
  }
  .footer-bloc .logo-bottom {
    text-align: center;
  }
  .footer-bloc ul {
    display: flex;
    justify-content: space-evenly;
  }
}
.logo {
  font-family: Shrikhand;
  font-size: 30px;
  text-align: center;
}

.header {
  background-color: #f6f6f6;
}
.header .map {
  background-color: #eaeaea;
  height: 50px;
  box-shadow: inset 0px 2px 2px #d5d5d5;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}
.header .map i.fas.fa-map-marker-alt {
  padding-right: 18px;
}

.description {
  margin: 48px;
  display: flex;
  flex-direction: column;
}
.description .description-title {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}
.description .presentation {
  margin-top: 20px;
  text-align: center;
}

.header_pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;
}
.header_pages i.fas.fa-arrow-left {
  position: absolute;
  left: 23px;
  top: 26px;
  color: black;
}
.header_pages .header-logo {
  width: 165px;
  margin-top: 23px;
}

@keyframes hearts {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checked {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes uncheck {
  0% {
    transform: scaleX(1);
    opacity: 0;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes details {
  0% {
    width: 100%;
  }
  100% {
    width: calc(60% - -91px);
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

.vignette img {
  width: 335px;
  height: 174px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, span, p, li {
  font-family: roboto;
}

i.far.fa-heart {
  font-size: 21px;
}

.content {
  animation: content 4000ms forwards;
}

.btn {
  margin-top: 31px;
  margin-bottom: 57px;
  border-radius: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  color: #fff;
  width: 218px;
  align-self: center;
  font-weight: bold;
  box-shadow: 0px 10px 20px 5px #d5d5d5;
}
.btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15), 0px 10px 20px 5px #a3a1a1;
}

.button-commander {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .button-commander {
    background: none;
  }
}

.btn-2 {
  width: 186px;
}
@media (min-width: 1024px) {
  .btn-2 {
    margin-top: -25px;
    position: relative;
    z-index: 1;
  }
}

#infos {
  display: flex;
  flex-direction: column;
}
#infos ul {
  margin-left: 32px;
  margin-right: 20px;
}

.Fonctionnement {
  margin-left: 21px;
  margin-bottom: 32px;
}

.info {
  background-color: #f6f6f6;
  margin-bottom: 21px;
  height: 24px;
  border-radius: 20px;
  line-height: 24px;
  display: flex;
  padding: 24px;
  box-shadow: 2px 5px 15px 1px #d5d5d5;
}
.info:hover {
  background: #f5edff;
}
.info:hover i {
  color: #9356DC;
}
.info span {
  background: #9356DC;
  display: flex;
  justify-content: center;
  width: 24px;
  border-radius: 50px;
  height: 24px;
  align-items: center;
  position: relative;
  left: -35px;
  color: #fff;
}
.info i {
  position: relative;
  left: -12px;
  line-height: 24px;
  padding-right: 10px;
}

@media (min-width: 1024px) {
  #infos ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 425px) {
  #infos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@keyframes hearts {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checked {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes uncheck {
  0% {
    transform: scaleX(1);
    opacity: 0;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes details {
  0% {
    width: 100%;
  }
  100% {
    width: calc(60% - -91px);
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  background: #f6f6f6;
  margin-top: 68px;
}
.main h2 {
  padding-left: 21px;
  padding-top: 58px;
}

.restaurants {
  padding: 27px 20px 67px 20px;
}
.restaurants .vignette {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 15px 1px #d5d5d5;
}
.restaurants .vignette a {
  color: black;
  position: relative;
}
.restaurants .vignette .tag {
  position: absolute;
  right: 12px;
  top: 13px;
  background: #99E2D0;
  font-family: "Roboto";
  font-size: 14px;
  padding: 6px;
  color: #008766;
  border-radius: 5px;
}
.restaurants .vignette img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .vignette h3 {
  margin-top: 16px;
  margin-left: 14px;
  font-family: "Roboto";
}
.restaurants .vignette p {
  margin-top: 7px;
  margin-left: 14px;
}
.restaurants .vignette .heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 24px;
  bottom: 33px;
  cursor: pointer;
}
.restaurants .vignette .heart i.far.fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: hearts 2000ms linear;
}

@media (min-width: 1024px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants .vignette {
    width: 500px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .restaurants .vignette {
    width: 528px;
  }
}
.photo-menu img {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.menu {
  position: relative;
  background: #f6f6f6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  z-index: 1;
}
.menu .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu .title .title-restaurant {
  padding-top: 34px;
  padding-left: 19px;
  font-family: "Shrikhand";
}
.menu .title i.far.fa-heart {
  position: relative;
  right: 38px;
  padding-top: 39px;
  cursor: pointer;
}
.menu .title i.far.fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: hearts 2000ms linear;
}

.menu-bloc {
  margin-top: 45px;
  opacity: 0;
  animation: menu-animation 1s forwards;
}
.menu-bloc h2 {
  margin-left: 21px;
  text-transform: uppercase;
  font-size: 16px;
}
.menu-bloc h2:after {
  content: "";
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  display: block;
}

.vignette-menu {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 14px 12px 14px;
  padding: 13px 22px 0px 10px;
  height: 55px;
  cursor: pointer;
  box-shadow: 2px 2px 15px 1px #d5d5d5;
  animation: menu-animation 1s forwards;
  opacity: 0;
}
.vignette-menu:hover .animation-circle {
  animation: checked 200ms ease-in-out forwards;
  -webkit-animation: checked 200ms ease-in-out forwards;
}
.vignette-menu:hover .details {
  animation: details 200ms ease-out forwards;
  -webkit-animation: details 200ms ease-out forwards;
}
.vignette-menu:hover .price {
  transform: translateX(-35px);
  transition: 200ms ease-in-out;
}
.vignette-menu:hover .fas.fa-check-circle {
  transform: rotate(0deg);
  transition: 400ms ease-in-out;
}
.vignette-menu .details {
  display: flex;
  flex-direction: column;
}
.vignette-menu .name {
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 5px;
  width: calc(100% - 25px);
}
.vignette-menu .accompaniment {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 60px);
}
.vignette-menu .price {
  font-size: 15px;
  font-weight: 900;
  position: absolute;
  right: 30px;
}
.vignette-menu i.fas.fa-check-circle {
  color: #fff;
  transform: rotate(-180deg);
}

.animation-circle {
  transform-origin: right;
  position: absolute;
  right: 0px;
  width: 60px;
  bottom: 0px;
  background-color: #99E2D0;
  line-height: 68px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  animation: uncheck 200ms ease-out forwards;
}

.delay_1 {
  animation-delay: 200ms;
}

.delay_2 {
  animation-delay: 400ms;
}

.delay_3 {
  animation-delay: 600ms;
}

@media (min-width: 1024px) {
  .menu {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 90px;
    border-radius: 20px 20px 20px 20px;
  }
  .menu .title-restaurant {
    font-size: 40px;
  }
  .menu .carte {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .menu .vignette-menu {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .photo-menu img {
    height: 65vh;
  }
}
@keyframes hearts {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes checked {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes uncheck {
  0% {
    transform: scaleX(1);
    opacity: 0;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes details {
  0% {
    width: 100%;
  }
  100% {
    width: calc(60% - -91px);
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
