/*violet*/
/*rose*/
/*mint*/
/*background gris*/
/*background footer*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  max-width: 375px;
  align-items: center;
}

ul {
  list-style-type: none;
}

.vignette img {
  width: 335px;
  height: 174px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, span, p, li {
  font-family: roboto;
}

.logo {
  font-family: Shrikhand;
  font-size: 30px;
  text-align: center;
}

.map {
  background-color: #eaeaea;
  height: 50px;
  box-shadow: inset 0px 2px 2px #d5d5d5;
  line-height: 50px;
  font-size: 16px;
  font-weight: 900;
}
.map i.fas.fa-map-marker-alt {
  padding-right: 18px;
  margin-left: 104px;
}

.header {
  background-color: #f6f6f6;
}

.description {
  margin: 48px;
  display: flex;
  flex-direction: column;
}

.description-title {
  font-size: 24px;
  text-align: center;
  font-weight: 900;
}

.presentation {
  margin-top: 20px;
  text-align: center;
}

.btn {
  margin-top: 31px;
  margin-bottom: 57px;
  border-radius: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  color: #fff;
  width: 218px;
  align-self: center;
  box-shadow: 0px 10px 20px 5px #d5d5d5;
  font-weight: bold;
}

#info {
  display: flex;
  flex-direction: column;
}

.Fonctionnement {
  margin-left: 21px;
  margin-bottom: 32px;
}

#infos ul {
  margin-left: 32px;
  margin-right: 20px;
}

.info {
  background-color: #f6f6f6;
  margin-bottom: 21px;
  height: 24px;
  border-radius: 20px;
  line-height: 24px;
  display: flex;
  padding: 24px;
}

.info span {
  background: #9356DC;
  display: flex;
  justify-content: center;
  width: 24px;
  border-radius: 50px;
  height: 24px;
  align-items: center;
  position: relative;
  left: -35px;
  color: #fff;
}

i.fa-mobile-alt {
  position: relative;
  left: -12px;
  line-height: 24px;
  padding-right: 15px;
}

i.fa-list-ul {
  position: relative;
  left: -12px;
  line-height: 24px;
  padding-right: 15px;
}

i.fa-store {
  position: relative;
  left: -12px;
  line-height: 24px;
  padding-right: 15px;
}

li.info:hover {
  background: #f5edff;
}

.info:hover i {
  color: #9356DC;
}

.main {
  background: #f6f6f6;
}

.main h2 {
  padding-left: 21px;
  padding-top: 68px;
}

.restaurants {
  padding: 27px 20px 67px 20px;
}

.restaurants .vignette {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vignette a {
  color: black;
}

.tag {
  position: absolute;
  right: 45px;
  background: #99E2D0;
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 23px;
  padding: 6px;
  color: #008766;
  border-radius: 5px;
}

.vignette img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.vignette h3 {
  margin-top: 16px;
  margin-left: 14px;
  font-family: "Roboto";
}

.vignette p {
  margin-top: 7px;
  margin-left: 14px;
}

.heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 24px;
  bottom: 33px;
}

i.far.fa-heart {
  font-size: 21px;
}

i.far.fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer-bloc {
  background: #353535;
  padding: 25px 0px 25px 38px;
}

.logo-bottom {
  font-family: "Shrikhand";
  color: #fff;
}

.footer-bloc nav {
  padding-top: 23px;
}

.footer-bloc li {
  color: #fff;
  padding-bottom: 10px;
}

i.fas.fa-utensils {
  padding-right: 12px;
}

i.fas.fa-hands-helping {
  padding-right: 5px;
}

.footer-bloc a {
  color: #fff;
}

.header_pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12px;
}

i.fas.fa-arrow-left {
  position: absolute;
  left: 23px;
  top: 26px;
}

.header-logo {
  width: 165px;
  margin-top: 23px;
}

.photo-menu img {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
}

.menu {
  background: #f6f6f6;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  z-index: 1;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-restaurant {
  padding-top: 34px;
  padding-left: 19px;
  font-family: "Shrikhand";
}

.title i.far.fa-heart {
  position: relative;
  right: 38px;
  padding-top: 39px;
}

.menu-bloc {
  margin-top: 45px;
}

.menu h2 {
  margin-left: 21px;
  text-transform: uppercase;
  font-size: 16px;
}

.menu h2:after {
  content: "";
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  display: block;
}

.vignette-menu {
  background: #fff;
  border-radius: 20px;
  margin: 14px 12px 14px;
  padding: 13px 22px 0px 10px;
  height: 55px;
}

.name {
  font-size: 18px;
  font-weight: 900;
}

.accompaniment {
  font-size: 15px;
}

.price {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 17px;
  text-align: right;
}

i.fas.fa-check-circle {
  display: none;
}

.button-commander {
  background: #f6f6f6;
  display: flex;
  justify-content: center;
}

.btn-2 {
  width: 186px;
}

/*# sourceMappingURL=styles.css.map */
