@import "../utils/mixins";
//---\\---BUTTON HOME PAGE---\\---//
.btn{
    margin-top: 31px;
    margin-bottom: 57px;
    border-radius: 50px;
    height: 50px;
    background: linear-gradient(to bottom, $color-secondary, $color-primary);
    border: none;
    color: $color-white;
    width: 218px;
    align-self: center;
    font-weight: bold;
    @include btn-shadow;
}
//---\\---//---\\---//---\\---//---\\

//---\\---BUTTON MENU PAGE---\\---//
.button-commander{
    background: $color-grey;
    display: flex;
    justify-content: center;
}
.btn-2{
    width:186px;
}