//COLORS//
$color-primary: #9356DC; /*violet*/
$color-secondary: #FF79DA;/*rose*/
$color-tertiary: #99E2D0;/*mint*/
$color-nouveau: #008766;
$color-white: #fff;
$color-black: black;
$color-grey: #f6f6f6; /*background gris*/
$color-footer: #353535; /*background footer*/
$color-localisation: #eaeaea;
$color-heart:linear-gradient(45deg, #FF79DA, #9356DC);
$color-shadow: #d5d5d5;
$color-info-hover: #f5edff;
//POLICES//
$font-logo: Shrikhand;
$font-title: Shrikhand;
$font-text:roboto;